<div class="app-shell">
  <aside class="sidebar">
    <div class="brand">SNOW requests</div>

    <!-- <button class="menu-btn" [class.active]="activePage === 'home'" (click)="goToHome()">
      Home
    </button> -->

    <button class="menu-btn" [class.active]="activePage === 'home'">
      All
    </button>

    <button class="menu-btn" [class.active]="activePage === 'home'">
      Agents
    </button>

    <button class="menu-btn" [class.active]="activePage === 'requests'" (click)="goToRequests()">
      Enablers
    </button>

     <!-- <button class="menu-btn" [class.active]="activePage === 'requests'">
      Specialists
    </button> -->

    <button class="menu-btn" [class.active]="activePage === 'docs'" (click)="goToDocs()">
      API Docs
    </button>

    <div class="sidebar-info">
      <div><b>Backend:</b> http://localhost:8080</div>
      <div><b>Frontend:</b> http://localhost:4200</div>
    </div>
  </aside>

  <main class="content">

    <!-- HOME PAGE -->
    <section *ngIf="activePage === 'home'">
      <div class="page-title">Requests</div>

      <div class="top-actions">
        <button class="ghost-btn" (click)="loadRequests()">Load Requests</button>
      </div>

      <div *ngIf="message" class="message success">{{ message }}</div>
      <div *ngIf="error" class="message error">{{ error }}</div>

      <div class="table-panel">
        <table>
          <thead>
            <tr>
              <th style="width: 90px;">ID</th>
              <th>Question</th>
              <th>Answer</th>
              <th>Created on</th>
              <th style="width: 180px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of requests">
              <td>{{ r.id }}</td>
              <td>{{ r.question }}</td>
              <td>{{ r.answer }}</td>
              <td>{{ r.createdOn | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>
                <button class="small-btn" (click)="editRequest(r)">Edit</button>
                <button class="small-btn danger" (click)="deleteRequest(r.id)">Delete</button>
              </td>
            </tr>

            <tr *ngIf="requests.length === 0">
              <td colspan="5" class="empty-row">No requests found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- REQUESTS PAGE -->
    <section *ngIf="activePage === 'requests'">
      <div class="page-title">Requests</div>

      <div class="top-actions">
        <button class="ghost-btn" (click)="loadRequests()">Load Requests</button>
      </div>

      <div class="panel">
        <div class="form-row">
          <input
            type="text"
            placeholder="Question"
            [(ngModel)]="form.question"
          />

          <input
            type="text"
            placeholder="Answer"
            [(ngModel)]="form.answer"
          />

           <input
            type="text"
            placeholder="Category"
            [(ngModel)]="form.category"
          />

           <input
            type="text"
            placeholder="Department"
            [(ngModel)]="form.department"
          />

           <input
            type="text"
            placeholder="Request Number"
            [(ngModel)]="form.requestNo"
          />

          <button class="main-btn" *ngIf="editingId === null" (click)="createRequest()">
            Create Request
          </button>

          <button class="main-btn" *ngIf="editingId !== null" (click)="updateRequest()">
            Update Request
          </button>

          <button class="ghost-btn" *ngIf="editingId !== null" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
      </div>

      <div class="panel">
        <div class="form-row">
          <input
            type="text"
            placeholder="Search by question"
            [(ngModel)]="searchQuestion"
            (input)="searchRequests()"
          />

          <input
            type="text"
            placeholder="Search by answer"
            [(ngModel)]="searchAnswer"
            (input)="searchRequests()"
          />

          <button type="button" class="main-btn" (click)="searchRequests()">Search</button>
          <button type="button" class="ghost-btn" (click)="resetSearch()">Reset</button>
        </div>
      </div>

      <div *ngIf="message" class="message success">{{ message }}</div>
      <div *ngIf="error" class="message error">{{ error }}</div>

      <div class="table-panel">
        <table>
          <thead>
            <tr>
              <th style="width: 90px;">Request No</th>
              <th>Question</th>
              <th>Answer</th>
              <th>Created on</th>
              <th>Tags</th>
              <th>Department</th>
              <th style="width: 180px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of requests">
              <td>{{ r.requestNo }}</td>
              <td>{{ r.question }}</td>
              <td>{{ r.answer }}</td>
              <td>{{ r.createdOn | date:'yyyy-MM-dd HH:mm' }}</td>
              <td>{{ r.category }}</td>
              <td>{{ r.department }}</td>
              <td>
                <button class="small-btn" (click)="editRequest(r)">Edit</button>
                <button class="small-btn danger" (click)="deleteRequest(r.id)">Delete</button>
              </td>
            </tr>

            <tr *ngIf="requests.length === 0">
              <td colspan="5" class="empty-row">No requests found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- DOCS PAGE -->
    <section *ngIf="activePage === 'docs'">
      <div class="page-title">API Docs</div>

      <div class="panel">
        <p>Open Swagger UI:</p>
        <a href="http://localhost:8080/swagger-ui/index.html" target="_blank">
          http://localhost:8080/swagger-ui/index.html
        </a>
      </div>
    </section>

  </main>
</div>