<div class="wordle-container" tabindex="0" (keydown)="handleKeyDown($event)" (click)="focusBoard()" #gameBoard>
  <h1>Word Game</h1>

  <div class="language-switcher">
    <button (click)="changeLanguage('greek')" [class.active-language]="selectedLanguage === 'greek'">
      Greek
    </button>

    <button (click)="changeLanguage('slovenian')" [class.active-language]="selectedLanguage === 'slovenian'">
      Slovenian
    </button>

    <button (click)="changeLanguage('english')" [class.active-language]="selectedLanguage === 'english'">
      English
    </button>
  </div>

  <!-- <div class="board">
    <div class="row" *ngFor="let row of guesses; let rowIndex = index" [class.shake]="shakeRow === rowIndex">
      <div class="cell" *ngFor="let col of [0, 1, 2, 3, 4]; let colIndex = index" [ngClass]="states[rowIndex][colIndex]"
        [class.active-cell]="rowIndex === currentRow && colIndex === currentGuess.length && !isGameOver()"
        (click)="focusBoard()">
        {{ getDisplayLetter(rowIndex, colIndex) }}
      </div>
    </div>
  </div> -->

  <div class="row" *ngFor="let row of guesses; let rowIndex = index" [class.shake]="shakeRow === rowIndex">
  <input
    *ngFor="let col of [0, 1, 2, 3, 4]; let colIndex = index"
    class="cell"
    [ngClass]="states[rowIndex][colIndex]"
    [class.active-cell]="rowIndex === currentRow && colIndex === currentGuess.length && !isGameOver()"
    type="text"
    inputmode="text"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="characters"
    spellcheck="false"
    maxlength="1"
    readonly
    [value]="getDisplayLetter(rowIndex, colIndex)"
    (click)="onCellClick(rowIndex, colIndex)"
    (keydown)="handleKeyDown($event)"
  />
</div>

  <input
  #mobileInput
  class="guess-input"
  type="text"
  inputmode="text"
  maxlength="5"
  placeholder="Type your guess..."
  autocomplete="off"
  autocorrect="off"
  autocapitalize="characters"
  spellcheck="false"
  (keydown)="handleKeyDown($event)"
  (input)="handleMobileInputFullWord($event)"
/>

  <p class="hint" *ngIf="!isGameOver()">Click the board and type your word. Press Enter to try.</p>

  <p class="message">{{ message }}</p>

  <button class="restart-btn" (click)="restart()">Restart</button>
</div>